.container, .quote-container {
    display: flex;
}

.container {
    width: 85%;
    margin: 15% auto 0 auto;
    justify-content: space-around;
    align-items: flex-start;
}

.quote-container {
    width: 70%;
    flex-direction: column;
    align-items: flex-end;
}

#quote {
    font-family: 'Slabo 27px', serif;
    font-size: 30px;
    font-weight: bold;
    color: #444;
}

#quotee {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
}

.quote-mark {

}


#refresh {
    cursor: pointer;
}